body {
    margin: 0;
    padding: 0;
    font-family:  Helvetica, sans-serif, Arial,;
    color: #000;
    font-size: 16px;
    line-height: 1.5; 
    position: relative;
   
}


.box {
 border: 2px solid #DE9B72;
 height: 99%;
 width: 98%;
 margin: 0 auto;
 max-width: 1100px; 
 margin-top: 50px;
 margin-bottom: 50px;
 border: 50px solid transparent;
 border-image: url(./img/Border3.png) 30 round;
 border-radius:8px;

 background-image: url('img/Bg-edited.png');
 background-position: center bottom;
 background-repeat: no-repeat;
 background-size: contain;
}

.certificate {
  margin: 0 auto;
  max-width: 1050px; 
  padding: 20px;
  border: 5px solid red; 
  margin: 2px;
 
}




.logo-container {
    display: flex;
    align-items: center;
    text-align: center;
    color: #228B22;
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
  }

span {
  font-weight: bold;
  font-size: large;
}
  
  .logo1,
  .logo2 {
    height: 120px;

  }
  
  .logo1 {
    margin-right: 10px;
  }
  
  .header-title {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    color: #c94343;
    font-size: 45px;
    letter-spacing: 2px;
   /*  padding-bottom: 10px; */
    margin: 0px;
    
  }


.container {
    display: flex;
    justify-content: center;
    height: 100%;
    
    padding: 0px;
    margin-top: 0;
  }


.container h2 {
    text-align: center;
    color: #228B22;
    font-size: 30px;
    padding-top: 0;
    margin-top: 0;
  }
  
  .left-content,
  .right-content {
    align-items: top;
    width: 50%;
    padding: 20px;
    
  }
  
  .divider {
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
    flex-basis: 5px;
    height: 230px;
    background-color: rgb(247, 164, 12);
  }
  


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .signature {
    font-weight: bold;
    text-align: center;
  }
  
  .note {
    margin-top: 0px;
    text-align: center;
  }

  .signature p,
.note p {
  margin: 0.25rem 0;
}
  
.desc-left {
  display:flex;
  /* text-align:center; */
  align-items:center;
  margin:0px;
  height:40px
}
.dash {
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  width: 100px;
  background:none;
}



.desc-right {
  display:flex;
  align-items:center;
  margin:0px;
  height:40px
}
 
